*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    background-color:lightcoral;
   
}

.box-img{
    width: 100% !important;
    height: 400px !important;
    display: flex;
}


.box{
    border: 1px solid #000;
    width: 300px !important;
    height: 300px !important;
    border-radius: 50% !important;
    margin-left: 25px !important;
    margin-right: 25px !important;

}


.box>img{
    border-radius: 50%;
}
