.swiper {
    width: 600px;
    height: 300px;
  }

.swiper-slide{
    width: 600px ;
    height: 300px;
  border: 1px solid #000;
}

.swiper-slide>img{
   object-fit: cover;
   object-position: center;
}

