#main{
    height: 500px;
    width: 500px;
    border: 1px solid #000;
    

}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#button{
    display: flex;
    margin-top: 20px;
    gap:30px;
}

.coral{
    background-color: coral;
}

.color{
    background-color:crimson;
}
